<h1><%= @sub.title %></h1>


Description: <%= @sub.description %>
<br>
Created by: <%= @sub.moderator.username %>

<br>
<a href="<%=subs_url%>">All Subs</a>

<a href="<%=new_post_url%>">New Post</a>


